##################################################
# This file holds configs to talk to aws         # 
# variables need to be in "" to be properly read #
# The order of the variables makes no difference #
# Please contact: healthcloud_devops_team@ge.com #
#            if you have questions               #
##################################################
##############################################
# Values below are read at build time        #
# And used as parameters to build and update #
# your aws productyion instance              #
##############################################
build_type="docker"
package_type="docker"
aws_update_task_and_service="true"
aws_deploy="true"
aws_run_sonar="false"
aws_region="us-east-1"
aws_vpc_id="752686809366"
aws_ami="ami-6869aa05"
aws_key_par="someAwsKeyPair"
aws_machine_size="t2.micro"
aws_policy_profile="ecsInstanceRole"
aws_cluster_name="gehc-ai-datacatalog-cluster-dev-ECSCluster-14TMQIVUGLZDN"
finished_goods_repo="gehc-ai-datacatalog"
aws_service_name="gehc-ai-datacatalog"
aws_docker_tag="latest"
aws_task_definition="gehc-ai-datacatalog-task"
aws_update_to_latest_definition="true"
mvn_additional_args=""
repo_url="https://github.build.ge.com/GEHC-AI/datacatalog.git"
custom_pre_commands="mvn clean install"
custom_post_commands=""