##################################################
# This file holds configs to talk to aws         # 
# variables need to be in "" to be properly read #
# The order of the variables makes no difference #
# Please contact: healthcloud_devops_team@ge.com #
#            if you have questions               #
##################################################
##############################################
# Values below are read at build time        #
# And used as parameters to build and update #
# your aws production instance              #
##############################################
build_type="mvn"
package_type="docker"
aws_update_task_and_service="true"
aws_deploy="true"
aws_run_sonar="true"
aws_region="us-east-1"
aws_vpc_id="752686809366"
aws_dev_cluster_name="dev-lf-cluster-dev-lf-LFCluster-1B3JGY0O2HP9Z"
finished_goods_repo="gehc-ai-datacatalog"
aws_dev_service_name="dev-lf-DCService-OS9YUF0B6IGO-ECSService-P5B4JZIFK51Z"
aws_docker_tag="1.0"
aws_dev_task_definition="dev-lf-DCServiceDef-1EL7R68EPKGEH-TaskDefinition-11M609ADCUWKP"
aws_update_to_latest_definition="true"
mvn_additional_args=""
repo_url="https://github.build.ge.com/GEHC-AI/gehc-ai-datacatalog.git"
custom_pre_commands=""
custom_post_commands=""
